body {
  text-align: center;
  font-family: cursive;
  font-size: 15px;
  background-image: url("http://cdn.pcwallart.com/images/solid-color-red-background-wallpaper-4.jpg");
  color: white;


}

img {
  max-width: 600px;
  border-radius: 100px;
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-duration: 2s;
  position: relative;
}

@-webkit-keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
}

@keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
}

a {
    color: white;
}
