body {
  text-align: center;
  font-family: cursive;
  font-size: 15px;
  background-image: url("http://cdn.pcwallart.com/images/solid-color-red-background-wallpaper-4.jpg");
  color: white;


}

img {
  max-width: 600px;
  border-radius: 100px;

}


a {
    color: white;
}

.container {
  float:right;
  margin-right: 200px;

}
